<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tesla_Cam_Burner_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tesla_Cam_Burner_GUI.Properties.Settings>
            <setting name="ffmpeg_path" serializeAs="String">
                <value>ffmpeg.exe</value>
            </setting>
            <setting name="font_path" serializeAs="String">
                <value>C:\Windows\Fonts\Arial.ttf</value>
            </setting>
            <setting name="show_latlon" serializeAs="String">
                <value>True</value>
            </setting>
        </Tesla_Cam_Burner_GUI.Properties.Settings>
    </userSettings>
</configuration>